.canvas_container{
    border: 2px solid blue;
    width: 800px;
    height: 800px;
    position: relative;
}

.canvas_container canvas{
    position: absolute;
    width: 800px;
    height: 800px;
    left: 0;
    top: 0;
}
#canvasSets{
    z-index: 1;
}

#canvasDraw{
    z-index: 2;
}

.tool_container {
    width: 800px;
    position: relative;
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
}

#setType{
    grid-column: 1 / span 2;
    grid-row: 1;
    width: auto;
    justify-self: center;
    margin-right: 10px;
    font-size: x-large;
}

#btnChannel{
    grid-column: 1;
    grid-row: 2;
    width: auto;
    justify-self: center;
    margin-top: 20px;
}

#btnBack {
    grid-column: 2;
    grid-row: 2;
    width: auto;
    justify-self: center;
    margin-top: 20px;
}