#canvas_container {
    width: 600px; /* Ancho suficiente para los tres canvas y los rectángulos */
    height: 300px;
    position: relative; /* Establecer posición relativa para los canvas hijos */
}
  
#canvas_container canvas {
    position: absolute; /* Establecer posición absoluta para superponer los dos primeros canvas */
    width: 300px; /* Establecer el mismo ancho y alto para ambos canvas */
    height: auto;
    left: 0; /* Colocar ambos canvas en la esquina superior izquierda */
    top: 0;
}
.mandelbrot_container {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
    border: 2px solid blue;
}

#canvasMandelbrot {
    z-index: 1; /* Establecer z-index para superponer el segundo canvas sobre el primero */
}

#pointCanvas {
    z-index: 2; /* Establecer z-index para que el primer canvas quede detrás del segundo canvas */
}

.julia_container {
    border: 2px solid blue;
    width: 300px;
    height: 300px;
    display: inline-block; /* Colocar el tercer canvas en línea */
    position: relative; /* Establecer posición relativa para poder posicionar el rectángulo */
    margin-left: 320px; /* Margen izquierdo para separar el tercer canvas del segundo */
}

.complex_container {
    width: 620px;
    position: relative;
    display: grid;
    margin-top: 10px;
}

#label_complex {
    grid-column: 1;
    grid-row: 1;
    width: auto;
    justify-self: end;
    margin-right: 10px;
}

#complex_number {
    grid-column: 2;
    grid-row: 1;
    width: auto;
    justify-self: start;
}

#btnRefresh {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: auto;
    justify-self: center;
    margin-top: 10px;
}

.canvas_buttons{
    width: 620px;
    position: relative;
    display: grid;
    margin-top: 10px;
}

#btnMandelbrot{
    grid-column: 1;
    grid-row: 1;
    width: 100px;
    justify-self: center;
}

#btnJulia{
    grid-column: 2;
    grid-row: 1;
    width: 100px;
    justify-self: center;
}